[submodule "bodyPath-frontend"]
	path = bodyPath-frontend
	url = https://github.com/IgorFollador/bodyPath-frontend.git
[submodule "bodypath-customer"]
	path = bodypath-customer
	url = https://github.com/IgorFollador/bodypath-customer.git
[submodule "bodypath-physicalEvaluation"]
	path = bodypath-physicalEvaluation
	url = https://github.com/IgorFollador/bodypath-physicalEvaluation.git
[submodule "bodypath-checkout"]
	path = bodypath-checkout
	url = https://github.com/IgorFollador/bodypath-checkout.git
[submodule "bodypath-apiGateway"]
	path = bodypath-apiGateway
	url = https://github.com/IgorFollador/bodypath-apiGateway.git
[submodule "bodypath-frontend"]
	path = bodypath-frontend
	url = https://github.com/IgorFollador/bodypath-frontend.git
[submodule "bodypath-foodPlan"]
	path = bodypath-foodPlan
	url = https://github.com/IgorFollador/bodypath-foodPlan.git
